h1 {
  color: red;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  background-color: #dddddd;
}
div {
  margin-bottom: 0px;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
}
li {
  display: inline-block;
}

a {
  display: block;
  padding: 8px;
}
