h1 {
  color: red;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  background-color: #dddddd;
}
div {
  margin-bottom: 0px;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
}
li {
  display: inline-block;
}

p{
  text-align: justify;
  font-family: "Calibri";
  margin: 5px;
}

footer{
  background-color: lightgray;
  position:absolute;
  display: inline-block;
  bottom:0;
  height:90px;
  margin-right:50px;
}
a {
  display: block;
  padding: 5px;
}
